body {
    font-family: sans-serif;
    background-color: #fff;
    margin-top: 20px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 100px;
    text-align:right;
    float: right;
}
 #first-menu {
        float:left; 
     width:500px;
}
#second-menu {
    float:left; 
     width:500px;
     
}
