body {
    font-family: sans-serif;
    background-color: #fff;
    margin-top: 20px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 50px;
    text-align:right;
}
#second-menu {
   float: left;
      padding: 20px 20px 20px 20px;
}
